.DS_Store
*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Java DAB/.markers

*.dat

*.tree

*.prefs

.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml

.metadata/.log

*.resources

*.resources

*.prefs

*.csv

*.xml

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
