.DS_Store
*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Java DAB/.markers

*.dat

*.tree

*.prefs

.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml

.metadata/.log

*.resources

*.resources

*.prefs

*.csv

*.xml

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml

Java DAB/.classpath

Java DAB/.project

*.prefs

Java DAB/.classpath

*.class

*.class

*.index

*.xml

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

*.index

*.csv

*.version

.metadata/.mylyn/.tasks.xml.zip

.metadata/.mylyn/repositories.xml.zip

.metadata/.mylyn/tasks.xml.zip

.metadata/.mylyn/.taskListIndex/segments_1

.DS_Store

*.prefs

*.index

*.index

*.index

*.index

*.prefs

*.xml

*.launch

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.index

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

*.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs

.DS_Store

*.xml

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.history

Boxes And Boxes/.classpath

Boxes And Boxes/.project
